body {
    background-image: url('/image/bg.svg');
    background-repeat: no-repeat;
    background-size: contain cover;
    font-family: 'Poppins', sans-serif;
}

.f-42 {
    font-size: 42px;
}

.f-24 {
    font-size: 24px;
}

.f-18 {
    font-size: 18px;
}

.f-16 {
    font-size: 16px;
}

.f-14 {
    font-size: 14px;
}

.card-glass {
    height: 100%;
    border-radius: 25px;
    backdrop-filter: blur(18px);
    padding: 32px 32px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
}

#card-glass-daftar {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40%;
    height: 100%;
}

.btn-large {
    width: 100%;
    background-color: #E9A75B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
}

#btn-masuk {
    background-color: #E9A75B;
}

.btn-large.btn-masuk {
    color: #fff;
}

.btn-large.btn-masuk:hover {
    background-color: #E9A75B;
}

#deviderOr {
    width: 100%;
}

.btn-large.btn-google {
    background-color: #fff;
}

.link {
    text-decoration: none;
    color: black;
}

.input-group-append {
    cursor: pointer;
}

@media only screen and (max-width: 575.98px) {

}

@media only screen and (max-width: 767.98px) {
    #card-glass-1 {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {

}
