/* BANNER */
.container-banner-1 {
  background-image: url(/image/banner-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -75px;
  /* height: 676px; */
}

.item-banner-1 {
  padding-top: 207px;
  margin-bottom: 121px;
  font-family: poppins;
}

.judul-item-banner-1 {
  font-family: "poppins";
  font-style: normal;
  font-weight: 700;
  /* font-size: 48px; */
  line-height: 130%;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.paragraf-item-banner-1 {
  font-family: "Poppins";
  font-style: normal;
  /* font-size: 20px; */
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.button-item-banner-1 {
  margin-top: 8px;
}

.button-putar-item-banner-1 {
  margin-right: 32px;
}

/* CONTENT */
/* Carousel */
.main-content {
  position: relative;
  margin-bottom: 32px;
}

.main-content .owl-theme .custom-nav {
  position: absolute;
  top: 23%;
  left: 0;
  right: 0;
}

.main-content .owl-theme .custom-nav .owl-prev,
.main-content .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}

.main-content .owl-theme .custom-nav .owl-prev i,
.main-content .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}

.main-content .owl-theme .custom-nav .owl-prev {
  left: 0;
}

.main-content .owl-theme .custom-nav .owl-next {
  right: 0;
}

.judul-content {
  margin-left: 50px;
  font-family: poppins;
}

/* container-content */
.container-content {
  margin-top: -75px;
}
/* MODAL */
/* Banner */
.banner-modal-2 {
  border-radius: 10px 10px 0px 0px;
}

.img-banner-modal-2 {
  border-radius: 10px 10px 0px 0px;
}

.img-button-close-banner-modal-2 {
  position: absolute;
  right: 24px;
  top: 24px;
}

.group-button-banner-modal-2 {
  margin-bottom: 48px;
  margin-left: 48px;
}

.img-button-plus-banner-modal-2 {
  margin: 12px;
}

.container-deskripsi-banner-modal-2 {
  margin: 32px 48px 0px 48px;
}

/* Modal body*/
.container-modal-body {
  margin: 32px 48px 48px 48px;
  /* font-family: poppins;
  font-style: normal;
  font-weight: 400; */
}

/* Card episode */
.filterDiv {
  display: none;
}
.show {
  display: block;
}

/* Mobile */
@media screen and (max-width: 376px) {
}

/* Tablet */
@media screen and (max-width: 768px) {
}

/* Dekstop */
@media screen and (max-width: 992px) {
}

/* Xl Dekstop */
@media screen and (max-width: 1200px) {
}
