/* MODAL */
.modal-content {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
}

/* Banner */
.banner-modal-2 {
  border-radius: 10px 10px 0px 0px;
}

.img-button-close-banner-modal-2 {
  position: absolute;
  right: 24px;
  top: 24px;
}

.img-button-plus-banner-modal-2 {
  margin: 0px 12px 0px 12px;
}

.container-deskripsi-banner-modal-2 {
  margin: 32px 48px 0px 48px;
}

/* Modal body*/
.container-modal-body {
  margin: 32px 48px 48px 48px;
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
}

/* Card episode */
.sub-item-episode {
  padding: 34px 0px 34px 0px;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

/* Modal footer */
.item-modal-footer {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Mobile */
@media screen and (max-width: 376px) {
}

/* Tablet */
@media screen and (max-width: 768px) {
}

/* Dekstop */
@media screen and (max-width: 992px) {
}

/* Xl Dekstop */
@media screen and (max-width: 1200px) {
}
