:root {
    --bs-accordion-btn-focus-border-color: #F1C381;
    --bs-accordion-active-bg: #FFF0C5;
    --bs-accordion-active-color: #6F3211;
}

#btn-utama {
    color: white;
    background: #E9A759;
    border-radius: 5px;
    padding: 10px 20px;
    gap: 10px;
}

#btn-utama:hover {
    color: white;
    background: #E9A759;
}

.margin-section {
    margin-bottom: 100px;
}

.bg-page {
    position: absolute;
}

.bg-page.bg-hero {
    width: 430px;
    height: 430px;
    right: 155px;
    top: 50px;
    z-index: -1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.056) 0%, rgba(255, 155, 5, 0.56) 100%);
    border: 1px solid #000000;
    filter: blur(125px);
}

.bg-page.bg-hero2 {
    width: 223px;
    height: 223px;
    left: 20px;
    top: 100px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 200, 5, 0.7) 100%);
    filter: blur(155px);
}

.bg-page.bg-pengalaman {
    width: 400px;
    height: 400px;
    left: 380px;
    top: 880px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 200, 5, 0.7) 100%);
    filter: blur(225px);
    transform: rotate(1.16deg);
}


.text-hero {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #404040;
    display: inline-block;
}

.text-hero::after {
    background: #FCE8BE;
    filter: blur(6px);
    content: '';
    border-bottom: 15px solid #FCE8BE;
    width: 300px;
    display: block;
    margin-left: 116px;
    z-index: -1;
}

h1 .text-color {
    color: #A7642C;
}

.subtxt-hero {
    margin-top: 12px;
    margin-bottom: 24px;
}

.title-section {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;
    background: -webkit-linear-gradient(92.51deg, #C6925B 0%, #F2BF73 99.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.desc-section {
    color: #A7642C;
}

.carousel-inner img {
    border-radius: 10px;
}

/* .kajian-terbaru .card {
    min-height: 322px;
}

.kajian-terbaru .card img {
    height: 194px;
} */

.bg-jadwal1 {
    width: 426px;
    height: 426px;
    left: -400px;
    top: 1530px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 200, 5, 0.7) 100%);
    filter: blur(225px);
}

.bg-jadwal2 {
    width: 400px;
    height: 400px;
    right: 120px;
    top: 1800px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 200, 5, 0.7) 100%);
    filter: blur(175px);
    z-index: -1;
}

.card {
    margin-bottom: 16px;
    min-height: 95%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card .card-title {
    /* min-height: 48px; */
    font-weight: 600;
}

/* .card .card-date {
    min-height: 100px;
} */

.icon-color {
    background: linear-gradient(108deg, #C6925B 0%, #F2BF73 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.desc-kegiatan {
    color: #676767;
}

.desc-kegiatan h4 {
    font-weight: 600;
    font-size: 32px;
}

.desc-kegiatan h3 {
    font-weight: 600;
    font-size: 20px;
}

.desc-kegiatan p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
}

.img-kegiatan {
    width: 546px;
    height: 374px;
    border-radius: 10px;
    margin-top: 24px;
}

.list-kegiatan {
    list-style: none;
}

.item-kegiatan {
    display: flex;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    padding: 16px 12px;
    gap: 24px;
}

.bg-rounded {
    border-radius: 50%;
    background-color: #FDF5DE;
    height: 58px;
    min-width: 58px;
    display: inline;
}

.item-kegiatan .no-kegiatan {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #E9A759;
    justify-content: center;
    margin-bottom: 0;
    display: inline;
}

.selected {
    background: linear-gradient(108deg, #C6925B 0%, #F2BF73 100%);
    width: 58px;
}

.item-kegiatan .selected-font {
    color: #A7642C;
}

.item-kegiatan .on-active {
    color: #FDF5DE;
}

.bg-program {
    width: 500px;
    height: 500px;
    left: 120px;
    top: 3000px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 214, 0, 0.07) 49.48%, rgba(255, 255, 255, 0.056) 100%);
    filter: blur(25px);
}

img.img-program {
    /* height: 150px; */
    border-radius: 5px;
}

.layanan-masjid .no-kegiatan {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #E9A759;
    justify-content: center;
    margin-bottom: 0;
    display: inline;
}

.layanan-masjid .on-active {
    color: #FDF5DE;
}

.bg-fasilitas {
    width: 400px;
    height: 400px;
    left: 500px;
    top: 4320px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 214, 0, 0.07) 49.48%, rgba(255, 255, 255, 0.056) 100%);
    filter: blur(125px);
}

.icon-fasilitas {
    margin-bottom: 16px;
}

.text-fasilitas {
    color: #C88441;
}

.card-testimoni {
    width: auto;
    height: 305px;
    border-radius: 24px;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.04));
    overflow: hidden;
    background: #FFFFFF;
}

.card-testimoni .bg-nama {
    /* z-index: -10; */
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    /* or 86px */
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.05);
}

.card-testimoni .img-person {
    width: 172px;
    min-height: 305px;
    padding-top: 64px;
    padding-left: 32px;
}

.slider-testimoni .card-testimoni .icon-quote {
    object-fit: none;
    width: 58px;
    height: 58px;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-right: auto;

}

.card-testimoni .text-testimoni {
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    padding-right: 12px;
}

.card-testimoni .nama-jamaah {
    font-size: 12px;
    font-weight: 800;
    color: #404040;
    margin-bottom: 0;
}

.card-testimoni .peran-jamaah {
    font-weight: 400;
    font-size: 11px;
    color: #404040;
}

.bg-card-testimoni {
    right: 10px;
    width: 138.92px;
    height: 138.92px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, #FFC805 59.19%);
    filter: blur(100px);
    transform: rotate(150.9deg);
}

/* Owl Carousel */

#owl-carousel.slider-testimoni .owl-dots {
    position: absolute;
    top: -40px;
    right: 200px;
}

#owl-carousel.slider-testimoni .owl-dots .owl-dot span {
    width: 24px;
    height: 8px;
    background: #FCE8BE;
    border-radius: 10px;
    margin: 4px 4px;
}

#owl-carousel.slider-testimoni .owl-dots .owl-dot.active span {
    background: linear-gradient(90deg, #DE9F69 0%, #F7D094 81.77%);
    border-radius: 10px;
    width: 48px;
}

#owl-carousel.slider-testimoni .owl-dots .owl-dot:hover span {
    background: linear-gradient(90deg, #DE9F69 0%, #F7D094 81.77%);
}


/* fix blank or flashing items on carousel */
#owl-carousel .item {
    /* width: 600px; */
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

.list-faq {
    width: 60%;
}

.faq .accordion {
    --bs-accordion-btn-focus-border-color: #F1C381;
    --bs-accordion-active-bg: #FFF0C5;
    --bs-accordion-active-color: #6F3211;
    /* --bs-accordion-btn-focus-box-shadow: 2px solid rgba(241, 195, 129, 0.2); */
}

.faq .accordion-item {
    border-radius: 50px;
    margin-bottom: 12px;
    border: 0px;
}

.faq .accordion-item {
    border-radius: 50px;
    margin-bottom: 12px;
    border: 0px;
}

.accordion-button {
    background: rgba(253, 245, 222, 0.4);
    background-image: none;
}

.accordion-button:focus {
    border-color: #F1C381;
    box-shadow: none;
}

.faq .accordion-body {
    background-color: rgba(253, 245, 222, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.faq .accordion-item {
    border-radius: 50px;
    margin-bottom: 12px;
    border: 0px;
}

/* Footer */
.footer .logo-footer {
    max-width: 120px;
    max-height: 120px;
}

.footer ul li {
    font-size: 14px;
    font-weight: 400;
}

.footer .sosmed {
    margin-right: 12px;
}

/* .footer iframe {
    width: 272px;
} */

/* .footer .alamatrm {
    width: 26%;
} */

.footer .alamat {
    font-size: 12px;
    font-weight: 400;
}


@media only screen and (max-width: 575.98px) {
    .bg-jadwal1 {
        display: none;
    }

    .bg-jadwal2 {
        width: 200px;
        height: 200px;
        right: 120px;
        top: 1700px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 200, 5, 0.7) 100%);
        filter: blur(175px);
        z-index: -1;
    }

    .bg-program {
        display: none;
    }
}

@media only screen and (max-width: 767.98px) {
    .bg-page.bg-hero {
        display: none;
    }

    .bg-page.bg-hero2 {
        display: none;
    }

    .bg-page.bg-pengalaman {
        display: none;
    }

    .bg-fasilitas {
        display: none;
    }
}

@media only screen and (max-width: 991.98px) {
    .text-hero {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0.005em;
        color: #404040;
        display: inline-block;
    }

    .text-hero::after {
        background: #FCE8BE;
        filter: blur(6px);
        content: '';
        border-bottom: 15px solid #FCE8BE;
        width: 230px;
        margin-left: 80px;
    }

    .bg-page.bg-hero {
        width: 300px;
        height: 300px;
        right: 120px;
        top: 50px;
        z-index: -1;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.056) 0%, rgba(255, 155, 5, 0.56) 100%);
        border: 1px solid #000000;
        filter: blur(125px);
    }

    .bg-page.bg-hero2 {
        width: 155px;
        height: 155px;
        left: 100px;
        top: 50px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 200, 5, 0.7) 100%);
        filter: blur(115px);
        z-index: -1;
    }

    .title-section {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 130%;
        background: -webkit-linear-gradient(92.51deg, #C6925B 0%, #F2BF73 99.58%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .bg-page.bg-pengalaman {
        width: 350px;
        height: 350px;
        left: 340px;
        top: 600px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 200, 5, 0.7) 100%);
        filter: blur(125px);
        transform: rotate(1.16deg);
    }

    .bg-program {
        width: 500px;
        height: 500px;
        left: 200px;
        top: 2300px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 214, 0, 0.07) 49.48%, rgba(255, 255, 255, 0.056) 100%);
        filter: blur(25px);
    }
}

@media only screen and (max-width: 1199.98px) {
    .bg-jadwal1 {
        width: 226px;
        height: 226px;
        left: -90px;
        top: 1530px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 200, 5, 0.7) 100%);
        filter: blur(125px);
    }

    .bg-jadwal2 {
        width: 200px;
        height: 200px;
        right: 120px;
        top: 1700px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 200, 5, 0.7) 100%);
        filter: blur(175px);
        z-index: -1;
    }

    .bg-program {
        width: 500px;
        height: 500px;
        left: 210px;
        top: 2500px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 214, 0, 0.07) 49.48%, rgba(255, 255, 255, 0.056) 100%);
        filter: blur(25px);
    }

    .bg-fasilitas {
        width: 400px;
        height: 400px;
        left: 400px;
        top: 3900px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.049) 0%, rgba(255, 214, 0, 0.07) 49.48%, rgba(255, 255, 255, 0.056) 100%);
        filter: blur(125px);
    }
}
