/* Real Holiday */
.vertikal-line {
    height: 25px;
}
.real-holiday, .vidio{
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 2%;
}

.row{
    padding-bottom: 2%;
}

/* Button real holiday */
.right {
    margin-top: 5%;
    
}
.left {
    float: left;
}
#btn-circle, #btn-circle-plus {
    border-radius: 50%;
    color: rgba(116, 116, 116, 0.7);
    background-color: white;
    border-color: rgba(116, 116, 116, 0.7);
    border-width: 2px;
}
#btn-circle-plus {
    margin-left: 29%;
}

/* session font*/
.seasion {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 4%;
}
#btn-seasion-1, #btn-seasion-2 {
   font-size: x-large;
}
#btn-seasion-1 {
    border-width: 2px;
    border-color: rgba(116, 116, 116, 0.7);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    
}
a.title-first{
    padding-top: 4%;
    font-size: large;
    color: black;
    margin-bottom: 4%;
}
.second-text-1 {
    line-height: 16px;
    margin-top: 4%;
}

@media screen and (max-width: 976px) {
    .right {
        margin-left: 85%;
        margin-bottom: 4%;
    }
}
@media screen and (max-width: 768px) {
    a.title-first {
        font-size: small;
        line-height: 20px;
    }
    .second-text-1 {
        font-size: small;
    }
    .second-text {
        font-size: small;
    }
    .right {
        margin-top: 7.3%;
        margin-left: 80%;
        /* margin-bottom: 4%; */
    }
}

@media screen and (max-width: 576px) {
    a.title-first {
        font-size: x-small;
        line-height: 18px;
    }
    .second-text-1 {
        font-size: x-small;
        margin-top: -8%;
        line-height: 12px;     
    }
    .second-text {
        font-size: x-small;
    }
    /* .right {
        margin-left: 100%;
        margin-right: 15px;
    } */
}

@media screen and (max-width: 376px) {
    a.title-first {
        font-size: xx-small;
        line-height: 15px;
    }
    .second-text-1 {
        font-size: xx-small;
        margin-top: -8%;
        line-height: 8px;
    }
    .title-text {
        font-size: small;
    }
    .second-text {
        font-size: x-small;
        margin-top: -2%;
    }
    
}